@tailwind base;
@tailwind components;
@tailwind utilities;

.barCompleted {
  background-color: rgb(0,192,255);
  width: 80%;
}

@media screen and (min-width: 1024px) {
  .links-container{
      height: auto !important;
  }
}